.metadata-property {
    --metadata-property-icon-hover-background-color: var(--background-modifier-hover);
    --icon-size: 18px;
}

.metadata-property-icon {
    font-size: var(--size-4-4);
    padding-right: var(--size-2-2);
}

span.metadata-property-icon {
    min-width: 29px;
    padding-left: 1px;
}

/*.metadata-property-icon:has(.svg-icon) {*/
/*	padding-right: var(--size-4-2);*/
/*}*/

.metadata-property-icon:hover {
    background-color: var(--metadata-property-icon-hover-background-color);
}

.metadata-property-key, .metadata-property {
    height: var(--input-height);
}

.metadata-property-key {
    width: calc(var(--metadata-label-width) + var(--size-4-1));
}

.metadata-style-icon {
    padding: 0;
}

.clickable-icon.metadata-style-icon {
    background-color: unset !important;
}

.metadata-property-icon:has(.metadata-style-icon) {
    min-width: 29px;
    justify-content: center;
}

ul.file-property-enhancer-tabs {
    margin-top: 0;
}

.modal-container.icon-picker-modal .modal {
    width: 390px;
    height: 510px;
}

.modal-container:has(em-emoji-picker) .modal-close-button {
    z-index: 99;
}

ul.file-property-enhancer-tabs {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #dee2e6;
}

.file-property-enhancer-tabs li {
    margin-right: 0.5rem;
    position: relative;
}

.file-property-enhancer-tabs .file-property-enhancer-tab-header-container {
    text-align: center; /* 文本居中 */
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: flex;
    gap: var(--size-4-2);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1); /* 添加动画效果 */
}

.file-property-enhancer-tabs .file-property-enhancer-tab-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-property-enhancer-tabs span:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.file-property-enhancer-tabs li.active > span {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

li.file-property-enhancer-tab-header {
    margin-right: var(--size-2-1);
}

.file-property-enhancer-icon-picker-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--size-4-2);
}

.file-property-enhancer-icon-picker {
    overflow: auto;
    height: 430px;
}

.file-property-enhancer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-radius: var(--radius-s);
}

.file-property-enhancer-icon:hover {
    background-color: var(--background-modifier-hover);
}
